body {
  font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 16px;
  background-color: #001a22;
  color: #8bdcff;
}

div.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img.logo {
  width: 320px;
  max-width: calc(100% - 20px);
  margin: 0 10px;
  border: 25px solid rgba(1, 1, 1, 0.15);
  border-radius: 100%;
}
img#comet {
  position: absolute;
  width: 180px;
  max-width: calc(100% - 20px);
  top: -20px;
  right: 200px;
}
div.main-container > h1 {
  font-weight: 700;
  font-size: 2.8rem;
  margin: 30px 10px 30px;
  line-height: 3.5rem;
  text-shadow: 0 0 15px #0006;
  background-color: rgba(1, 1, 1, 0.2);
  border-radius: 12px;
  padding: 5px 20px;
}

div.main-container > p {
  font-weight: 200;
  font-size: 1.6rem;
  margin: 0px 10px 50px;
  line-height: 2rem;
  background-color: rgba(1, 1, 1, 0.2);
  border-radius: 12px;
  padding: 5px 20px;
}

div.main-container > .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.main-container > .buttons > a {
  text-decoration: none;
  border: 2px solid #8bdcff;
  border-radius: 5px;
  padding: 10px 12px;
  color: #8bdcff;
  font-weight: 400;
  background-color: rgba(1, 1, 1, 0.2);
  font-size: 1rem;
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
  margin: 0 15px;
}
div.main-container > .buttons > a:hover {
  text-decoration: none;
  background-color: #8bdcff;
  color: #001a22;
}

div.parallax__layer > .celestial {
  position: absolute;
  border-radius: 30px;
}
div.parallax__layer > .star {
  background-color: #8bdcff;
  border-radius: 30px;
}
div.parallax__layer > .red-planet {
  background-color: #e65c00;
  border: 3px solid #962300;
  border-left: none;
  border-top: none;
}
div.parallax__layer > .blue-planet {
  background-color: #e6d700;
  border: 3px solid #c28500;
  border-left: none;
  border-top: none;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translate(0);
  z-index: 4;
  pointer-events: none;
}
.parallax__layer--back {
  transform: translateZ(-2px) scale(3);
  z-index: 2;
  pointer-events: none;
}

.parallax__layer--deep {
  transform: translateZ(-4px) scale(5);
  z-index: 0;
  pointer-events: none;
}

.parallax__layer--ganymede {
  transform: translateZ(-3px) scale(4);
  z-index: 1;
}

.parallax__layer--comet {
  transform: translateZ(-1px) scale(2);
  z-index: 3;
  pointer-events: none;
}
